<nav>
  <ul class="nav-list">
    <li class="item"><a class="item-link" routerLink="/about-me">Ahj</a></li>
    <li class="item">
      <a class="item-link" routerLink="/about-me">About Me</a>
    </li>
    <li class="item">
      <a class="item-link" routerLink="/experiences">Experiences</a>
    </li>
    <li class="item">
      <a class="item-link" routerLink="/contact-me">Contact Me</a>
    </li>
  </ul>
</nav>
<section class="header">
  <header>
    <h1>AJ Ruth Sumandang</h1>
    <p>Frontend Developer</p>
    <p>"The way to do great work is to love what you do."</p>
  </header>
</section>
